extends layout
//- extends header

block content
  h3  share shareでルームメイトを見つけよう
  h4 
    a(href="/mypage") my_profile
  .contents
    .self_area  
      .panel_self 
        p your profile
        // login user が入ります
        if user
          p
            a(href="/mypage") Name : #{user.name}
          .image_area_self
            a(href="/mypage")
              img(src="#{user.img}")
          p area:tokyo
        else 
          p  ログインしましょう
          

    .partner_area
      if users
        -var n = 0
        -var index_num = 999
        each user in users
          -var num = index_num - n
          div(class="panel_partner" style="z-index:#{num};")
                p Name : #{user.name}  #{n}
                .image_area
                  img(src="#{user.img}")
                .prof_list
                  p.list  よろしく！
                  p.list 旅行 
                  p.list ▽              
                .btn_area
                  form(action='meet/like' method='post' )
                    input(type='hidden' name='like_user_id' value="#{user.id}")
                    input(type='submit' value='good').a     
                     
                  form(action='meet/next' method='post' )
                    input(type='hidden' name='next_user_id' value="#{user.id}")
                    input(type='submit' value='next').b     
                    
            -n= n+1
      
                
      .add_cards   
        p No User
             
    p <br><br><br><br><br><br><br><br><br><br><br><br>
    p <br><br><br><br><br><br><br><br><br><br><br><br><br>
