extends layout

block content
  h3  share shareでルームメイトを見つけよう
  h4  
    a(href="/meet") look for people △
  .contents
    .profile_area
      h5 myprofile
      .panel_self 
        p
          a(href="/profile") Name : #{user.name} 
          .image_area_self
            a(href="/profile")
              img(src="#{user.img}")
      .description
        form(action="/mypage" method='post')
          p area: #{userProfile1.area} ←クリックで変更できる様にする  
          input.profile_input(type="text" name='area' value="#{userProfile1.area}")             
          p hobby: #{userProfile1.hobby}       
          input.profile_input(type="text" name='hobby' value="#{userProfile1.hobby}")   
          p comment  #{userProfile1.comment} 
          input.profile_input(type="text" name='comment' value="#{userProfile1.comment}")       
          p 希望 人数 :  #{userProfile1.num_of_people_min}  ~  #{userProfile1.num_of_people_max} 人     
          input.profile_input(type="text" name='num_of_people_min' value=' #{userProfile1.num_of_people_min}')
          input.profile_input(type="text" name='num_of_people_max' value=' #{userProfile1.num_of_people_max}')            
          p 希望 エリア :  #{userProfile1.expect_area}  
          input.profile_input(type="text" name='expect_area'  value="#{userProfile1.expect_area}")
          p 希望 家賃負担 :  #{userProfile1.price_of_rent}  万円ぐらい   
          input.profile_input(type="text" name='price_of_rent' value='')
          input(type="text"  name='user_id' value="#{user.id}" style='display:none;') 
          input.profile_submit(type='submit')
    
    .matching_people    
      h5  Matching People
        .matching_people_block
          each people in meet_people
            form.meet_people_form(action='/partner' name='form1' method='post')
              input(type='text' name='user_id' value='#{people.id}' style='display:none;')
              img.people_img(src='#{people.img}')   
              input.matching_people_submit(type='submit' value='#{people.name}') 
              
          
      //- p  検索条件に会う人一覧を表示
        
      
  .logout_area
    a(href='/logout') logout      
